.encabezado{
    position: fixed;
    width: 100%;
    z-index: 100;
    
}
.botonregistro {
    margin-left: 80px !important;
}
.imgregistroformulario {
    width: 49%;
    display: inline-block;
}
.registroformulario {
    width: 50%;
    z-index: -1;
    text-align: center;
    margin: 0%;
    margin-left: 25%;
}
.mapa {
    text-align: center;
    width: 100%;
}
.textocontacto {
    text-align: center;
}
.titulocontacto {
    text-align: center;
    font-size: 40px;
    
}

.contactoformulario {
    width: 50%;
    z-index: -1;
    text-align: center;
    margin: 0%;
    margin-left: 25%;
    
}
button {
    /* Este margen extra representa aproximadamente el mismo espacio que el espacio
       entre los labels y sus campos de texto */
    margin-left: 6em !important;
}
textarea {
    /* Para alinear campos de texto multilínea con sus labels */
    vertical-align: top;

    /* Para dar suficiente espacio para escribir texto */
    height: 5em;

    /* Para permitir a los usuarios cambiar el tamaño de cualquier textarea verticalmente
        No funciona en todos los navegadores */
    resize: vertical;
}
nput:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}
input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;

    /* Para darle el mismo tamaño a todos los campos de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}
.labelformulario {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    
    width: 170px !important;
    text-align: right;
}
label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 90px;
    text-align: right;
}
form div + div {
    margin-top: 1em;
}

.pvision {
    font-size: 20px;
    text-align: justify;
    color: black;
    font-family: monospace;
}
.tvision {
    color: black;
    font-size: 80px;
    font-family: monospace;
}
.vision {
    background-image: url("../img/elefantess.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.serimg {
    margin-left: 120px;
}
serimg {
    width: 50%
}
.rellenoleft {
    width: 50% !important;
    display: inline-block;
}
.rellenoright {
    width: 49%;
    display: inline-block;
    text-align: right;
}
.res {
    display: inline-block
    
}
.derechos {
    color: aliceblue;
    text-align: center;
}
footer {
    
    height: 50px;
    background-color: black;
}
.tituloslider {
    color: rgb(176,178,254) ;
    text-align: center;
}
p {
    text-align: justify;
}
.tituloindex {
    color: black;
    text-align: center;
}
.bloqueslidercompleto {
    
    width: 100%;
    
}
.bloqueslider {
    width: 100% !important;
    background-color: beige;
    margin-left: 0%;
}
.imgs {
    width: 100%;
    height:  540px!important;
}
.flechabajar{

    float: left;
    position: absolute;
    margin-top: 20px;
    margin-left: 50%;
    z-index: 200;
}
.botonloging{
    position: absolute;
    float: right;
    margin-right: 12%;
}
* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 16px; 
}

.navbar{
    padding: 0rem 0rem !important;
    padding-left: 1rem !important;
    z-index: 3;
    
    
}

.navbar-light .navbar-nav .nav-link{
   /* color: white !important;*/
    font-size: 18px;
    color: rgb(109,198,235) !important;
    
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #4357ad!important;
   /* background-color: #4357ad;*/
}
.navbar-light .navbar-nav .nav-link{
   /* color: white !important;*/
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-nav .nav-link.active,.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
   /* background: #4357ad !important;*/
    color: #4357ad !important;
}

#Inicio {padding-top:55px;height:500px;color: #fff; background-color: #1E88E5;}
#Servicios {padding-top:55px;height:500px;color: #fff; background-color: #673ab7;}
#Nosotros {padding-top:55px;height:500px;color: #fff; background-color: #ff9800;}
#Contacto {padding-top:55px;height:500px;color: #fff; background-color: #00bcd4;}