.encabezado{
    position: fixed;
    width: 100%;
    z-index: 100;
    
}
 .modal-header, h4, .close {
      background-color: blue !important;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
}
.mapa {
    text-align: center;
    width: 100%;
}


labelformulario{
    text-align: center;
    
}

.contenedor{
    width: 40%;
    margin-left: 30%;
    
}
.tituloregistrarse{
    text-align: center;
    width: 100%;
    
}
.textoregistrarse{
    text-align: center;
    width: 100%;
}
.contenedorflecha{
    position: absolute;
   text-align: center;
    width: 100%;
padding-top: 50px;
    
    border-radius: 15px;
}

 .flecha{
    position: absolute;
    width: 100%;
     z-index: 200;}





.tituloslider {
    color: rgb(176,178,254) ;
    text-align: center;
}

.tituloindex {
    color: black;
    text-align: center;
}
.bloqueslidercompleto {
    
    width: 100%;
    
}
.bloqueslider {
    width: 60% !important;
    background-color: beige;
    margin-left: 20%;
    text-align: center;
}
.imgs {
    text-align: center;
    width: 100%;
    height:  400px!important;
}

.botonloging{
    position: absolute;
    float: right;
    margin-right: 12%;
}
.btn:hover{
    
}
.btn{
    background-color: rgba(255,255,255, 0.0);
    margin-bottom: 3px;
}


.res:hover{
    
}

.res{
    padding: 0px 2px; !important;
    width: 70px;
    
}


.navbar{
    padding: 0rem 0rem !important;
    padding-left: 1rem !important;
    z-index: 3;
   
}


.navbar-light .navbar-nav .nav-link{
   /* color: white !important;*/
    font-size: 18px;
    color: white!important;
    
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: blue!important;
   /* background-color: #4357ad;*/
}
.navbar-light .navbar-nav .nav-link{
   /* color: white !important;*/
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-nav .nav-link.active,.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
   /* background: #4357ad !important;*/
    color: blue!important;
}


/* tablas*/
.contenedortabla{
    width: 100%;
    margin-left: ;
}

.tabla1{ background-color: steelblue;
    padding: 10px;
 
}

.tabla2{ background-color: lightsteelblue;
padding: 10px 50px;}
.tabla3{ background-color: powderblue;
padding: 10px 50px;}
.tabla4{ background-color: lightblue;
padding: 10px 50px;}
.tabla5{ background-color: skyblue;
padding: 10px 50px;}
.columnas1{background-color: steelblue;
padding: 20px 50px;}
.columnas2{background-color: lightsteelblue;}
.columnas3{background-color: powderblue;}
.columnas4{background-color: lightblue;}
.columnas5{background-color: skyblue;}


.columnas1:hover{background-color: blue;}
.columnas2:hover{background-color: blue;}
.columnas3:hover{background-color: blue;}
.columnas4:hover{background-color: blue;}
.columnas5:hover{background-color: blue;}


.tablacompleta{
    border: 2px;
    border-radius: 15px;
   
}
